fastapi[standard]
sqlalchemy
python-dotenv
langchain
langchain-groq
google-auth
pyjwt
langchain-community
wikipedia
duckduckgo-search
ddgs
cryptography
google-auth-oauthlib
asyncpg
httpx
redis[asyncio]
uvicorn
gunicorn
certifi

